= content_for?(:content) ? yield(:content) : yield

- content_for :footer_text do
  %span 
    You're receiving this because you enabled alerts at 
    =link_to "Citrulu.com", "https://app.citrulu.com", :style => footer_a_styles
- content_for :footer_links do
  =link_to "Edit your subscription", edit_user_registration_url, :style => footer_a_styles
