- content_for :content do
  - if @status == :pass
    %p{:style => content_p_styles}
      Your failing tests are now passing. Everything's looking good! 
    %p{:style => content_p_styles}
      If you'd like, you can 
      =link_to("review recent results", test_runs_url) + "."
  - elsif @status == :fail
    = render partial: 'failures'
                  
    %p{:style => content_p_styles} 
      To view your full results, visit
      =link_to("your results page", test_run_url(@test_run), :style => content_a_styles) + "."

= render :template => 'user_mailer/notification'



