%p Thanks for joining us for the Alpha!
%p To get started, log in here:
%p{:style => "padding-left: 20px;"}
  %a{:href => "http://citrulu.com/#{new_user_session_path}" }= "http://citrulu.com/#{new_user_session_path}"
%p Hopefully you should find all the help you need, but if you get stuck, don't hesitate to <a href="mailto:contact@citrulu.com">send us an email</a> -- or post something using the feedback form.
%p We hope you like it!
