- content_for :content do
  %p{:style => content_p_styles} Thanks for joining Citrulu!
  %p{:style => content_p_styles} We're delighted that you've signed up to test your live websites. We've created some tutorials to make it really easy for you to get started with some simple but powerful tests.
  %table{:style => "text-align: center; margin-bottom:10px;"} 
    %tr
      %td{:style => "width:220px"}
      %td{:style => content_button_td_styles + "width:198px;"}
        =link_to "Let's get started!", @first_tutorial_url, :style => content_button_a_styles
      %td{:style => "width:220px"}
  %p{:style => content_p_styles} Citrulu is currently in Beta and you can try it out free for the next #{FREE_TRIAL_DAYS} days. We don't limit the number of tests you can run, so please feel free to add as many as you like.
  %p{:style => content_p_styles} 
    Hopefully you should find all the help you need, but if you get stuck, don't hesitate to
    = mail_to 'contact@citrulu.com', "send us an email", :style => content_a_styles
    &ndash; or post something using the feedback form on the site. 
  %p{:style => content_p_styles} We'd also love to hear from you if you've got any suggestions for how we can make Citrulu even better.
- content_for :footer_text do
  %span
    You're receiving this because you signed up at
    =link_to "Citrulu.com", "http://www.citrulu.com", :style => footer_a_styles
- content_for :footer_links do
  =link_to "Edit your subscription", edit_user_registration_url, :style => footer_a_styles





