<%= form_for(@test_file) do |f| %>
  <% if @test_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_file.errors.count, "error") %> prohibited this test_file from being saved:</h2>

      <ul>
      <% @test_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
