.row 
  %h1.span4 Test File Editor
  #editor_status.span4 
    = @status_msg

.row
  #test_suite.span8
    
    = form_for(@test_file, :remote => true, :html => {:id => "editor_form"}) do |f|
      = f.text_area :test_file_text, :id => "editor_content"
      #editor_wrapper 
        - #infuriating div required (?) to deal with the fact that the #editor element has no size 
        #editor
          Sorry the editor could not be loaded
      = f.submit "Save", :class => "btn btn-primary"
 
    %section#console
      %h3 Console
    
      %pre.pre-scrollable=console_line(@console_output)
      
  #help.span4.well
    %h2 Help
    %p This is some help text
    %h3 This is some hipster lorem ipsum (from kottke):
    %p Organic sustainable lomo, +1 irony McSweeney's skateboard Portland PBR tattooed farm-to-table Terry Richardson Williamsburg. 
    %p Organic farm-to-table wolf, next level shit put a bird on it freegan American Apparel Williamsburg chambray gentrify viral you probably haven't heard of them keffiyeh Cosby sweater. 
    %p Pitchfork photo booth fuck, DIY cardigan messenger bag butcher Thundercats tofu you probably haven't heard of them whatever squid VHS put a bird on it. 
    %p Thundercats fixie Williamsburg, photo booth synth vinyl dreamcatcher Wes Anderson cliche. You probably haven't heard of them DIY mlkshk biodiesel McSweeney's raw denim. 
    %p Skateboard Pitchfork Etsy, photo booth messenger bag artisan raw denim beard Tumblr retro Austin. Wes Anderson sustainable keffiyeh, blog lomo craft beer cliche brunch homo skateboard biodiesel fanny pack Pitchfork you probably haven't heard of them Stumptown.
