- if cookies[:hide_welcome].blank?
  .welcome.hero-unit
    %h1 Welcome to Citrulu
    %a.dismiss{:href => '#'} Hide this message
    .row
      .dismiss
      .span5
        %p Citrulu is currently in Alpha! So please don't depend on it just yet. But please do use it, and let us know what you think, and what we could improve.
        %p Until we release, all the features of Citrulu will be available to everyone. After we release, some features will only be available to users with premium accounts. 
        %p To see how we currently think the features will break down, visit the frequently updated and changed <a href="/features">features page</a>.
      .span4.offset1
        %p Want to get straight to the tests? Your default test file has some examples to help you get started.
        %p 
          %a.btn.btn-primary.get-testing{:href => edit_test_file_path(current_user.test_files.first)} Edit your first test file
        %p Once your tests are up &amp; running, you'll want to see some results.
        %p
          %a.btn.btn-primary.get-resulting{:href => test_runs_path} View your results
.row
  #test_list.span8
    .title
      %h2 Your tests
      %a.btn{:onclick => "alert('Implement meeee')"} 
        %i.icon-plus-sign
        Create a new test file
    %ul.unstyled
      - @test_files.each do |file|
        %li.test_file
          %a.btn{:href => edit_test_file_path(file)}
            %span.name=file.name
            .row
              .span4
                %span.last_updated="Last updated at #{file.updated_at}"
              .span3
                %span.file_info
                  -if file.compiled?
                    =pluralize(file.number_of_tests, 'test')
                    on 
                    =pluralize(file.number_of_pages, 'page')
                  -else
                    Your file hasn't been compiled yet.
                    Click to edit it and kick it off.
      
  #sidebar.span4
    #recent_results
      - if !@recent_failed_groups.empty?
        .fail
          %div
            %img{:src => "http://placehold.it/60x66"}
            %p= "#{pluralize(@recent_failed_groups.count, 'test is')} failing!"
            -# N.B. this pluralization is (nescessarily) achieved with a custom inflector in /config/initializers/inflectins.rb
          %a.btn{:href => test_runs_path} View full results
      - else
        .pass
          %div
            %img{:src => "http://placehold.it/60x66"}
            -if @test_files.collect{|f| f.last_run}.compact.empty?
              %p Your tests haven't been run yet.
            - else
              %p Your tests all pass. Huzzah!
          %a.btn{:href => test_runs_path} You can see results, but nowt's going on

    #sexy_stats
      %h3 Stats, for your reading pleasure
      .stat
        %img{:src => "http://placehold.it/45x50"}
        %p <strong>X</strong> test files  
      .stat
        %img{:src => "http://placehold.it/45x50"}
        %p Testing <strong>X</strong> pages
      .stat
        %img{:src => "http://placehold.it/45x50"}
        %p Checking <strong>X</strong> conditions
      .stat
        %img{:src => "http://placehold.it/45x50"}
        %p On average, checking <strong>X</strong> conditions per page
      .stat
        %img{:src => "http://placehold.it/45x50"}
        %p In a typical test run, <strong>X</strong> pages produce failures
      .stat
        %img{:src => "http://placehold.it/45x50"}
        %p On average, failing pages are fixed within <strong>X hours</strong>




