%h2
  #{response.code}:
  =link_to response.test_group.test_url 
%p.meta Retrieved #{response.test_group.time_run} in #{response.response_time}ms
%pre.response=response.headers+"\n\n"+response.content
