.row
  %table.table-striped.span12
    %thead
      %tr
        %th.span5
        %th.span2=@names[:bronze]
        %th.span2=@names[:silver]
        %th.span2=@names[:gold]
        %th.span2=@names[:bespoke]

    %tbody
      %tr.costs
        %td.feature
          %h3 Cost
          %small Monthly cost
        %td.bronze
          =choose_plan_link(current_user, :bronze)
        %td.silver
          =choose_plan_link(current_user, :silver, true)
        %td.gold
          =choose_plan_link(current_user, :gold)
        %td.bespoke
          =mail_to "contact@citrulu.com", "Talk to us", :subject => "I want my own super-duper awesome version of Citrulu!", :class => "btn btn-large btn-primary"
    
      - @limits.each do |limit|
        %tr
          %td.feature
            %h3=limit[:name]
            %small=limit[:description]
          %td.bronze=limit[:bronze]
          %td.silver=limit[:silver]
          %td.gold=limit[:gold]
          %td.bespoke=limit[:bespoke]

%section.features
  %h2 Whatever your plan, you'll always have access to these great features:
  - @features.each_slice(3) do |three_features|
    .row
      - three_features.each do |feature|
        .span4
          %h3
            =feature[:name]
            %i{:class => feature[:icon]}
          - if feature[:comingsoon]
            %p
              %em.comingsoon Coming soon!
          %p=raw feature[:description]