#what_next
  %h2 What next?
  
  .row
    .span6.actions
      %p Click here to see the test files for your account:
      %a.btn.btn-large.btn-primary.get-resulting{:href => test_files_path} View your test files

    .span6.actions
      %p If you've already got tests up and running, you can see how they're doing:
      %a.btn.btn-large.btn-primary.get-resulting{:href => test_runs_path} View your results