.hero-unit
  %h1 We've cancelled your subscription
  %p Your subscription will be active until your next payment date. After that it will be you'll still have full use of the site, but we won't run your tests or send you alerts.