.hero-unit
  %h1 Great!
  %p 
    We've successfully updated your subscription plan - you're now on the
    %span{ :class => "plan_name"}=current_user.plan.name_en
    plan.
  %p
    You'll now be billed #{current_user.plan.print_cost} every month
  %p
    Your usage will be pro-rated and will be reflected in your next bill.

=render partial: "what_next"