%header.page-header
  %h1 Choose your Plan
=render partial: "website/features_table"

%p.contact
  If you have special feature or integration requirements,
  =mail_to "contact@citrulu.com", "get in touch", :subject => "I want my own super-duper awesome version of Citrulu!"
  and we'll see what we can do.