.hero-unit
  %h1 Thanks!
  %p 
    We've processed your payment and you can now have access to the
    %span{ :class => "plan_name"}=@subscription_plan_name 
    plan
  %p
    You'll be billed 
    =@line_item.price
    =@line_item.description.downcase
    
  %p 
    You can cancel your subscription at any time by editing your 
    =link_to "Account Settings", edit_user_registration_path

#what_next
  %h2 What next?
  %p Here are the test files for your account - click to edit them:

  .row
    #test_list.span8
      %ul.unstyled
        =render partial: @test_files

    .span4.actions
      %p If you've already got tests up and running, you can see how they're doing:
      %a.btn.btn-large.btn-primary.get-resulting{:href => test_runs_path} View your results

