.hero-unit
  %h1 Thanks!
  %p 
    We've processed your payment and you are now on the
    %span{ :class => "plan_name"}=current_user.plan.name_en
    plan
  %p
    ="You'll be billed $#{current_user.plan.cost_usd} every month"
    
  %p 
    You can cancel your subscription at any time by editing your 
    =link_to "Account Settings", edit_user_registration_path

=render partial: "what_next"

