.hero-unit
  %h1 Great! 
  %p 
    You're buying the
    %span{:class => "plan_name"}=@plan.name_en
    plan.
    
    You'll be billed $#{@plan.cost_usd} every month
    
  %p Now we just need to get your payment details and you can continue as a fully-fledged Citrulu user.


=render partial: "credit_card_form", locals: { method: :post }