- only_fails ||= false
%div{:class => group.failed? || group.has_failed_tests? ? "fail" : "pass"}
  %h3=truncated_test_url(group.test_url)
  %p.last-updated="#{group.updated_at} from #{group.test_run.test_file.name}"
  - if !group.message.blank?
    %div
      %p We couldn't retrieve this page:
      %pre=group.message
  -else
    %ul.recentfails
      -group.test_results.each do |result|
        - next if result.result && only_fails
        %li 
          %i{:class => !result.result ? "icon-remove" : "icon-ok"}
          = result.original_line
