%header.page-header
  %h1
    %strong=@test_run.test_file.name
    ="results for #{@test_run.time_run}"

- if @test_run.test_groups.count == 0
  %p This test run contained no tests
- else 
  - @test_run.test_groups.each_slice(3).each do |group_batch|
    .row
      - group_batch.each do |group|
        .span4
          = render :partial => "group", :locals => {:group => group}
