input[type="text"], input[type="email"], input[type="password"], textarea {
  background-color: #fff;
}

.navbar {
	.brand a {
		color: #fff;
		&:hover { 
			text-decoration: none;
		}
	}
	.nav li a { 
		clear: left;
		//otherwise the nav links look even worse when the page gets narrow
	}
	
	#user_nav {
		padding: 10px 40px 11px;
		line-height: 19px;
		color: #fff;
		text-decoration: none;
		float: right;
	}
}


#error_explanation{
	@extend  .alert-error;
}


.container.devise {
  padding-top: 100px;
  width: 260px;

	.alert {
		margin: 0 auto 20px;
	}
	.user_form {
		margin: auto;
		width: 240px;
	}
	.form-horizontal {
    input {
      margin-bottom: 0.5em;
    }
    label.checkbox{
      width: 100%;
      margin-bottom: 0.5em;
    }
    input[type="submit"] {
      // handle buttons with long text:
      white-space: normal;
    }
  }
  
}

ul.devise_links {
  li.last {
    border-right: 0;
  }
  li {
    &:last-child {
      border-right: 0;
    }

    border-right: 1px solid black;
    padding: 0 10px 0 5px;
    display: inline-block;
  }
}

div.banner {
  width: 100%;
  height: 15px;
  padding: 10px;
  background: #EBB68F;
  text-align: center;

  p {
    font-size: 13px;
    line-height: 15px;
    margin: 0;
  }
}

#error_explanation {
  padding: 15px;
  margin: 0 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

  li {
    color: #000;
  }

  h2 {
    font-size: 18px;
    line-height: 22px;
  }
}

.accordion-toggle {
  cursor: pointer;
}

footer {
  background: #f8f8f8;
  border-top: 1px solid #ddd;
  margin-top:40px;

  .logo {
    text-align: right;
  
    img {
      padding-right: 20px;
    }
  }

  .citrulu {
    padding-top: 3px;
  
    a {
      color: #555;
      font-size: 15px;
      &:hover {
        text-decoration: none;
      }
    }
  }

 .twitter-follow-button {
	padding-top: 10px;
}

  .content {
    padding: 10px;
  }
}


//Twitter bootstrap, in sass, via a gem.
@import "bootstrap";
