body {
	//background: #EEE url("square_paper.png") top left repeat;
}


.navbar #user_nav {
	padding: 10px 10px 11px;
	line-height: 19px;
	color: #fff;
	text-decoration: none;
	float: right;
}

#test_suite{	
	#editor, #editor_wrapper {
	  width: 620px;
		height: 400px;
	}
	#console {
		//margin-top: 420px;
	}
}

.span-one-third {
	width: 300px;
}


body.website {
	 legend {
		margin-bottom: 1em;
	}
}


//.devise\/sessions {
body.devise, body.website {
	header {
		text-align: center;
		margin: 40px 0;
		h1 {
			font-size: 54px;
			line-height: 1;
			margin-bottom: 9px;
		}
	}
	.alert {
		width: 229px;
		margin: 0 auto 20px;
	}
	.user_form {
		margin: auto;
		width: 240px;
	}
	
	.field_with_errors {
		//TODO - need to make these go inline to match the existing layout
	}
}

.test_files {
	h1 {
		margin-bottom: 19px;
	}
}


#error_explanation{
	@extend .alert, .alert-error;
}


// EVERYTHING BELOW THIS IS UNMODIFIED RAILS SCAFFOLDING

//body {
//  background-color: #fff;
//  color: #333;
//  font-family: verdana, arial, helvetica, sans-serif;
//  font-size: 13px;
//  line-height: 18px; }
//
//p, ol, ul, td {
//  font-family: verdana, arial, helvetica, sans-serif;
//  font-size: 13px;
//  line-height: 18px; }
//
//pre {
//  background-color: #eee;
//  padding: 10px;
//  font-size: 11px; }
//
//a {
//  color: #000;
//  &:visited {
//    color: #666; }
//  &:hover {
//    color: #fff;
//    background-color: #000; } }
//
//div {
//  &.field, &.actions {
//    margin-bottom: 10px; } }
//
//#notice, #flash_notice, .notice {
//  color: green; }
//
//.field_with_errors {
//  padding: 2px;
//  background-color: red;
//  display: table; }
//
//#error_explanation {
//  width: 450px;
//  border: 2px solid red;
//  padding: 7px;
//  padding-bottom: 0;
//  margin-bottom: 20px;
//  background-color: #f0f0f0;
//  h2 {
//    text-align: left;
//    font-weight: bold;
//    padding: 5px 5px 5px 15px;
//    font-size: 12px;
//    margin: -7px;
//    margin-bottom: 0px;
//    background-color: #c00;
//    color: #fff; }
//  ul li {
//    font-size: 12px;
//    list-style: square; } }

//Twitter bootstrap, in sass, via a gem.
@import "bootstrap";
//@import "bootstrap-responsive";
