body {
	//background: #EEE url("square_paper.png") top left repeat;
}

//blearg, ugly nonsense:
.row{
	min-width: 1170px
}


.navbar {
	.container {
		width: 100%;
		min-width: 800px
	}
	#user_nav {
		padding: 10px 10px 11px;
		line-height: 19px;
		color: #fff;
		text-decoration: none;
		float: right;
	}
}

.span-one-third {
	width: 300px;
}

#error_explanation{
	@extend .alert, .alert-error;
}


body.website {
	 legend {
		margin-bottom: 1em;
	}
}

body.devise, body.website {
	header {
		text-align: center;
		margin: 40px 0;
		h1 {
			font-size: 54px;
			line-height: 1;
			margin-bottom: 9px;
		}
	}
	.alert {
		width: 229px;
		margin: 0 auto 20px;
	}
	.user_form {
		margin: auto;
		width: 240px;
	}
	
	.field_with_errors {
		//TODO - need to make these go inline to match the existing layout
	}
}

body.test_files {
	h1 {
		margin-bottom: 19px;
		padding-left: 20px;
	}
	#editor_status{
		color: gray;
		font-size: 1.5em;
		text-align: right;
		margin-right: 60px;
		padding-right: 10px;
		//FRAGILE!!!
		line-height: 36px;
	}
	#editor_status.working{
		padding-right: 25px;
		background: transparent url("loader.gif") no-repeat right;
	}
	
	#test_suite{
		padding-left: 20px;
		#editor_form {
			input[type=submit] {
				// FRAGILITY ABOUNDS!!!
				
				//This leaves a hole... = Bad
				//position: relative;
				//top: -450px;
				//left: 549px;
				
				position: absolute;
				top: 62px;
				left: 569px;
			}
		}
		#editor, #editor_wrapper {
		  width: 600px;
			height: 400px;
		}
		#console {
			pre {
				height: 200px;
				.success {
					color: green;
				}
				.error {
					color: red;
				}
			}
		}
	}	
}

//Twitter bootstrap, in sass, via a gem.
@import "bootstrap";
//@import "bootstrap-responsive";
