//TODO: find a better way of selecting the non-logged-in pages:

@media (min-width: 990px) and (max-width: 5000px) {
  body.registrations.new, body.registrations.create, body.sessions, body.passwords, body.confirmations {
    padding-top: 86px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  body.registrations.new, body.registrations.create, body.sessions, body.passwords, body.confirmations {
    padding:0px;
  }
}

body.registrations.new, body.registrations.create, body.sessions, body.passwords, body.confirmations {

  background-image: image-url('/assets/bg.png');
  overflow-x: hidden;

  /* hiding weird extra space on smaller screens - above */
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #067295;
  }
  
/* ==========================================================================
   Logged-out forms 
   ========================================================================== */
  
  form {
    margin: 60px auto 40px auto;
    max-width: 690px;

    legend {
      padding-top: 10px;
      float: left;
      height: 118px;
      border: none;
    
      h2 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 48px;
        width: 500px;
        margin-top: 30px;
      }

      p {
        font-family: 'Source Sans Pro', sans-serif; 
        color: #0a89b2;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 15px;
        margin-bottom: 30px;
        width: 500px;
       }

      img {
        float: left;
        margin-right: 15px;
        margin-left: 100px;
      }
    }
    
    .form-inner {
      border: 1px solid #bac4c7;
      border-radius: 5px;
      background-image: image-url('/assets/bg.png');
      float: none;
    }
    
    fieldset {
      margin: 20px;
      border: 1px solid #bac4c7;
      border-radius: 5px;
      background-color: #fff;
      padding: 30px;
      text-align: center;

      #terms {
        font-size:11px;
      }
    }
    
    input, input[type="email"], input[type="password"] {
      width: 202px;
      background-color: #e9f5f9;
      border-radius: 5px;
      margin-bottom: 10px;
      text-align: center;
      border-color: transparent;
      box-shadow: inset 1px 1px 1px #bedce5;
      height: 30px;
      width: 220px;
    }
    input.full_width {
      width: 455px;
    }
    @media (max-width: 1200px) {
      input.full_width {
        width: 202px;
      }
    }
    
    .field_with_errors {
      display: inline;
      input {
        border-color: #B94A48;
      }
    }
    
    button {
      display: block;
      margin: -35px auto;
    }
  }

  @media (min-width: 767px) and (max-width: 1200px) {

  form {

    fieldset {
      max-width: 324px;

      legend {
        padding-top: 5px;
        text-align: center;
        margin: auto;
        display: block;
        clear: both;
        height: auto;

        img {
          float: none;
          display: block;
          margin: auto;
        }

        h2 {
          width: auto;
          margin-top: 10px;
        }

        p {
          width: auto;
          margin-bottom: 20px;
        }

      }
    }
  }
  }

  @media (min-width: 0px) and (max-width: 767px) {

    form {

      .form-inner {
        display: block;
        margin: auto;
      }

      fieldset {
        max-width: 200px;

        legend {

          height: auto;

          p {
            max-width: 100%;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 10px;
          }

          h2 {
            margin-top: 0px;
            font-size: 32px;
            line-height: 38px;
            max-width: 100%;
          }
        }
      }
    }
  }

  .btn-signup {
    color: #fff;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #87b71d;
    background-image: -moz-linear-gradient(top, #9ed426, #87b71d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9ed426), to(#87b71d));
    background-image: -webkit-linear-gradient(top, #9ed426, #87b71d);
    background-image: -o-linear-gradient(top, #9ed426, #87b71d);
    background-image: linear-gradient(to bottom, #9ed426, #87b71d);
    border: 0px;
    line-height: 12px;
    padding: 18px 40px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: 1px 1px 1px #374518;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif; 

    &:hover {
      color: #fff;
      background-color: #87b71d;
      *background-color: #d9d9d9;
    }
  }

  .pencil-icon {
    background-image: image-url("/assets/pencil-icon.png");
    background-repeat: no-repeat;
    padding-left:30px;
  }

/* ==========================================================================
 Devise links
 ========================================================================== */

  ul.unstyled.devise_links {

    max-width: 690px;
    margin: 70px auto 0px auto;
    clear:both;
    text-align: center;

    li {
      margin-right: 15px;
      display: inline;
      text-align: center;

      a {
        padding-right: 15px;
      }

      &:after {
        content: '|';
      }

      &:last-child:after {
        content: none;
      }

    }
  }

  @media (min-width: 0px) and (max-width: 767px) {
    ul.unstyled.devise_links {
      padding: 0px 20px;
    }
  }

/* ==========================================================================
   Navigation
   ========================================================================== */

  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    font-weight: normal;
  }

  .navbar-inner {
    background-color: #9ddcef;
    background-image: none;
    border-bottom: 1px solid rgba(6, 114, 149, 0.4);
    -webkit-box-shadow: 0px 0px 0px 0px;
    -moz-box-shadow: none;
    box-shadow: 0px 0px 0px 0px;
    height: 85px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #454500;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: image-url('/assets/bg.png');
    background-position: top center;

      div.container {
        height: 85px;

        ul#menu-primary-navigation {
          float:right;
          margin-top: 20px;

          li {
            margin-right: 20px;
          }
        }
      }
  }

  .navbar {

    .btn-navbar {
      background-color: #0a89b2;
      background-image: none;
      margin-right: 0px;

      &:hover {
        background-color: #1db8ea;
        background-image: none;
        margin-right: 0px;
      }
    }

    .brand {
      margin-top: 10px;
      margin-left: 0;
      padding-right: 0;
    }

    .nav li  {

      &.btn-signup-nav {
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        background-color: #87B71D;
        background-image: -moz-linear-gradient(top, #9ED426, #87B71D);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9ED426), to(#87B71D));
        background-image: -webkit-linear-gradient(top, #9ED426, #87B71D);
        background-image: -o-linear-gradient(top, #9ED426, #87B71D);
        background-image: linear-gradient(to bottom, #9ED426, #87B71D);
        border: 0px;
        height: 35px;
        line-height: 12px;
        padding: 0px 20px 0px 30px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 120px;
        text-shadow: 2px 2px 1px black;

          a {
            margin-right: 0px;
            color: #fff;
            background-image: image-url("/assets/pencil-icon.png");
            background-repeat: no-repeat;
            background-position: 0px 6px;
          }
      }

      a {
        text-shadow: none;
        color: #454500;
        background-color: transparent;
        border: 0px;
        box-shadow: none;
        margin-top: 0px;

        &.btn-login {
          margin-right: 40px;
          font-weight: 600;
          background-image: image-url("/assets/login-icon.png");
          background-repeat: no-repeat;
          background-position: 13px 13px;
          padding-left: 30px;
          text-align: left;

        }
      }
    }
  }

  @media (min-width: 0px) and (max-width: 1200px) {

  .navbar-fixed-top {
   margin-bottom: 0px;
  }

  .navbar  {
    margin-bottom: 0px;

    .btn, .btn-group {
      margin-top: 25px;
    }

    .btn-navbar {
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

      .icon-bar {
        width: 43px;
        background-color: transparent;
        box-shadow: none;
        -webkit-box-shadow: none;
        height: 15px;
        display: none;

        &:first-child {
          background: image-url("/assets/responsive-menu-icon.png") no-repeat 2px 3px;
          padding-left: 20px;
          display: block;
        }

        &:first-child:after {
          content:'menu';
          padding-right: 20px;
        }
      }
    }

    .navbar-inner {

        div.container {
        padding-right: 20px;
        padding-left: 20px;

          ul#menu-primary-navigation {
            margin-top: 0px;
            padding: 0px;
            border-radius: 5px;

            li {
              margin-right: 0px;
              background-color: rgba(255,255,255,0.8);
              border-radius: 5px;

              &.btn-signup-nav {
                margin-top: 0px;
                background-color: transparent;
                background-image: none;
                padding: 0px;
                margin: 0px;
                width: 100%;

                a {
                  background-color: transparent;
                  margin: 0px;
                  font-weight: bold;
                  padding: 14px 15px 14px 30px;
                  background-position: 8px 9px;
                  background-color: rgba(255,255,255,0.8);
                  color: #76a216;
                  margin: 0px;
                  text-align: left;
                }
              }

                &.btn-login {
                width: 100%;
                   a {
                    font-weight: bold;
                    padding-left: 30px;
                    background-position: 13px 13px;
                   }
                }
              }
            }
          }
        }
      }
    }

  @media (min-width: 980px) and (max-width: 1200px) {

  .navbar {

    .nav-collapse,
    .nav-collapse.collapse {
      height:0;
      overflow: hidden;
      clear: both;
    }

    .btn-navbar {
      display: block;
    }

    .nav {
      position: relative;
      left: 0;
      display: block;
    }
    .navbar-inner {
      padding: 5px;
    }

    ul#menu-primary-navigation {
      max-width: 172px;
      float: right;
      margin-right: 0px;

      li {
        margin-bottom: 2px;
        width: 100%;

          &.btn-signup-nav {
            a {
              border-radius: 5px;
            }
          }
        }
      }
    }
  }


  @media (min-width: 0px) and (max-width: 767px) {
    .brand img {
      width: 220px;
      margin-top: 8px;
    }
  }


  @media (min-width: 0px) and (max-width: 767px) {

    #fdbk_tab {
      display: none;
    }

    .navbar-inner {
      padding: 0px 20px;
    }

    .navbar {

      a.brand {

        padding-left: 0px;

        img {
          width: 200px!important;
        }
      }

      .btn-navbar {
      margin-right: 0px;
      width: 50px;

        .icon-bar:first-child:after {
          content:'menu';
          font-size: 10px;
        }
      }
    }
  }

/* ==========================================================================
   Footer
*/

footer {

  color: #fff;

  ul#menu-footer-navigation {
  margin-left: 0px;
  text-align: right;

    li {
    list-style-type: none;
    display: inline;
    margin: 0px 15px 0px 0px;

      a {
        padding-right: 15px;
      }

      &:after {
        content: '|';
      }

      &:last-child:after {
        content: none;
      }
    }
  }

  div.footer-links {
  margin-top: 46px;
  text-align: right;
  float: right!important;
  margin-right: 30px;
  }

  div.footer-social {
  float: right;
  margin-top: 40px;
  }
}

@media (min-width: 0px) and (max-width: 1200px) {
footer {
 padding-right: 20px;
 padding-left: 20px;
 padding-bottom: 20px;

  img {
    max-width: 190px;
  }

  div.footer-links {
    margin-right: 30px;
    float: left;
    width: 97%;
    margin-top: 10px!important;
  }

  .span3 {
    width: 190px;
    float: left;

      img {
      width: 170px;
      margin-top: 10px;
    }
  }

  ul#menu-footer-navigation {

    li {
      background-color: rgba(255,255,255,0.8);
      border-radius: 5px;
      padding: 5px 8px;
      margin-bottom: 5px;
      text-align: center;

        &:hover {
          text-decoration: none;
        }

        &:after {
        content: none;
        }
    }
  }
}
}


@media (min-width: 0px) and (max-width: 550px) {

footer {

  div.footer-links.span8 {

    margin-right: 0px;
    margin-left: 0px;

    ul#menu-footer-navigation {
      width: 94%;

      li {
        clear:both;
        width: 100%;
        display: block;
      }
    }
  }
}
}

  @media (min-width: 550px) and (max-width: 1200px) {
    footer {
      max-width: 710px;
    }
  }

/* ==========================================================================
   Backgrounds
*/

div.blue-bg {
  background-image: image-url("/assets/soft-blue-bg.png");
  background-repeat: repeat-x;
  background-position: top 2px;
  background-color: #e9f5f9;
  width: 100%;
  float:left;
  display: inline;
  border-top: 1px solid #fff;
}

div.blue-bg-finish {
  background-image: image-url("/assets/soft-blue-bg-finish.png");
  height: 60px;
  background-position: center bottom;
  background-color: #e9f5f9;
  border-top: none;
  border-bottom: 1px solid #fff;
  margin-top: 0px;
}

/* ==========================================================================
   Page specific tweaks
*/


body.sessions {

  form {
      legend {

        h2 {
        margin-top: 50px;
        }

        img {
        margin-left: 130px;
        }
    }
  }
}

body.passwords, body.confirmations {

  form {
    legend {

      h2 {
        margin-top: 0px;
        font-size: 40px;
      }

      p {
        font-size: 16px;
        line-height: 20px;
      }

    }
  }
}

body.passwords.edit {

  form {
    legend {

      h2 {
        margin-top: 25px;
      }
    }
  }
}

/* ==========================================================================
   Errors
*/

#error_explanation, .alert {
  width: 640px;
  margin: 50px auto 0px auto;
  background-color: #F2DEDE;
  color: #B94A48;
  padding: 25px;
  border-radius: 5px;
  text-align: center;
  border: 1px red dotted;

    h2 {
      font-size: 30px;
      color: red;
    }

    ul li {
      list-style-type: none;
    }
}

.alert.alert-success {
  width: 640px;
  margin: 50px auto 0px auto;
  color: #468847;
  background-color: #DFF0D8;;
  padding: 25px;
  border-radius: 5px;
  text-align: center;
  border: 1px green dotted;

  h2 {
    font-size: 30px;
    color: green;
  }

  ul li {
    list-style-type: none;
  }
}

/* ==========================================================================
   Responsive
   ========================================================================== */






@media (min-width: 767px) and (max-width: 1200px) {
  div.container {
    max-width: 710px;
  }
}

/* ==========================================================================
   Non-Menu Responsive
   ========================================================================== */

@media (min-width: 0px) and (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
  }
}



@media (min-width: 767px) and (max-width: 1200px) {
  div.container {
  max-width: 710px;
  }
}




@media (min-width: 767px) and (max-width: 1200px) {
  div.signup-text {
    padding-top: 5px;
    margin-left: 19%;
    margin-right: 19%;
    text-align: center;
  }
  input {
    width: 203px!important;
  }
  div.form-inner {
    display: block;
    margin: auto!important;
    float: none;
    max-width: 425px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  div.form-inner{
    max-width: 300px;
  }
  input {
    width: 90%!important;
  }
  fieldset img {
    display: none;
  }
  div.signup-text {
    width: 100%;
    text-align: center;
    padding-top: 0px!important;
  }
  div.signup-form {
    margin:auto;
  }
}

@media (min-width: 0px) and (max-width: 500px) {
  section.signup .row {
    max-width: 320px;
    display: block;
    float: none;
    margin: auto;
  }
}
}