
body.registrations section.signup {
  margin-top: 50px;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #067295;
  }

  h2 {
    font-size: 48px;
  }

  section header h2, section header p {
    text-align: center;
  }

  header h2 {
    font-family: 'Source Sans Pro', sans-serif;
  }

  header p {
	  font-family: 'Source Sans Pro', sans-serif; 
	  color: #0a89b2;
	  font-size: 20px;
	  font-weight: 400;
	  line-height: 30px;
	  margin-top: 15px;
	  margin-bottom: 30px;
	 }

  header img {
    float: left;
    margin-right: 15px;
    margin-left: 100px;
  }

  div.signup-outer {
    border: 1px solid #bac4c7;
    border-radius: 5px;
    background-image: url('/assets/bg.png');
    margin-top: 20px;
    margin-right: 25%;
    margin-left: 25%!important;
  }

    div.signup-inner {
      margin: 20px;
      border: 1px solid #bac4c7;
      border-radius: 5px;
      background-color: #fff;
      padding: 30px;
    }

      div.signup-text {
        padding-top: 25px;
        float: left;
        height: 110px;
      }

      div.signup-form {
        margin-left:50px;
        clear: both;
      }
      
        input.user_email {
          width: 430px;
          margin-bottom: 10px;
        }

        input.password {
          width: 203px;
          margin-bottom: 10px;
        }

          div.signup-form-button {
            margin-top: -35px;
            margin-right: 45%!important;
            margin-left: 45%!important;
          }
          
}

input, input[type="email"], input[type="password"] {
	background-color: #e9f5f9;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	border-color: transparent;
	box-shadow: inset 1px 1px 1px #bedce5;
	
	&#user_email {
    width: 430px;
   	margin-bottom: 10px;
  }

	&#user_password, &#user_password_confirmation {
    width: 200px;
	  margin-bottom: 10px;
	  margin-right: 3px!important;
  }
}

.btn-signup {
  color: #fff;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #87b71d;
  background-image: -moz-linear-gradient(top, #9ed426, #87b71d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9ed426), to(#87b71d));
  background-image: -webkit-linear-gradient(top, #9ed426, #87b71d);
  background-image: -o-linear-gradient(top, #9ed426, #87b71d);
  background-image: linear-gradient(to bottom, #9ed426, #87b71d);
  border: 0px;
  line-height: 12px;
  padding: 18px 40px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: 1px 1px 1px #374518;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin-right: 10px;
  font-family: 'Source Sans Pro', sans-serif; 

    &:hover {
      color: #fff;
      background-color: #87b71d;
      *background-color: #d9d9d9;
    }
}

.pencil-icon {
	background-image: url("/assets/pencil-icon.png");
	background-repeat: no-repeat;
	padding-left:30px;
}

// * Bootstrap fix *//

.container-fluid {
  max-width: 1200px;
  margin: auto;
}

// * //

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.navbar-inner {
  background-color: #9ddcef;
  background-image: none;
  border: 2px solid rgba(6,114,149,0.5);
  -webkit-box-shadow: 0px 0px 0px 0px;
  -moz-box-shadow: none;
  box-shadow: 0px 0px 0px 0px;
  height: 85px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #454500;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: url('/assets/bg.png');
  background-position: top center;

    div.container-fluid {
      height: 85px;
    }

      ul#menu-primary-navigation {
        float:right;
        margin-top: 20px;
      }

        li {
          margin-right: 20px;
        }

          &.btn-signup {
            margin-right: 0px;
          }

          &.btn-login {
            margin-right: 40px;
            font-weight: 600;
          }

            a {
              background-image: url("../img/login-icon.png");
              background-repeat: no-repeat;
              background-position: 0px 13px;
              padding-left: 20px;
            }
}

.navbar .nav li  {

  a {
  text-shadow: none;
  color: #454500;
  }

  &.active a {
    color: #077194;
    text-decoration: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

    &:hover {
    text-shadow: none;
    color: #077194;
    }

  &.btn-signup-nav a {
    color: #fff;
    background-image: url("../img/pencil-icon.png");
    background-repeat: no-repeat;
    background-position: 0px 6px;
  }

  .btn-navbar {
    background-color: #0a89b2;
    background-image: none;
    margin-right: 0px;
  }

    &:hover {
      background-color: #1db8ea;
      background-image: none;
      margin-right: 0px;
    }

}

.brand {
  margin-top: 10px;
}

div#wrap {
  margin-top: 45px;
}


