body.payments.confirmation {
  .hero-unit {  
    h1 {
      margin-bottom: 20px;
    }
    .plan_name {
      font-weight: bold;
    }
  }
  #what_next { 
    p {
      font-size: 1.2em;
    }
    .actions {
      padding-top: 10px;
      .btn {
        font-size: 18px;
      }
    }
  }
}

body.payments { 
  .working {
    background: transparent url("loader.gif") no-repeat right;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: transparent;
    padding: 5px 0 0 10px;
  }
}