body.payments.confirmation {
  .hero-unit {  
    h1 {
      margin-bottom: 20px;
    }
    .plan_name {
      font-weight: bold;
    }
  }
  #what_next { 
    p {
      font-size: 1.2em;
    }
    .actions {
      padding-top: 10px;
      .btn {
        font-size: 18px;
      }
    }
  }
}