body.test_files {
	#help {
		header.section_title {
			//FRAGILE, but matches the padding applied to the accordion
			padding: 0 15px;  
		}
		
		#help_sections {
		  
      // Allow a pre with particularly long lines to wrap and have a scrollbar
		  pre.scrolling {
        word-break: normal;
        word-wrap: normal;
        overflow: scroll;
        white-space: pre;
		  }
		}
	}
	
	#test_suite{
	  margin-top: 1em;
	  legend {
	    border: none;
	    margin-bottom: 0px;
	    h1 {
    		margin-bottom: 19px;
    		
    		input {
          //Styles for when the field becomes editable:
          font: inherit;
          width: 100%;
          height: auto;
          //compensating so that the box doesn't move around
          margin: -16px 0 -9px -4px;        
    		}
    		button{
          //should just be "@extend .btn.btn-mini.btn-primary, but can't get @extend to work, so have added in classes with Jquery.   
          margin: 0.5em 0.5em 0 0 
        }
    	}
	  }
    #save_btn {
      text-align: right;
      overflow: auto;
      margin-bottom: 19px;
      input[type=submit] {}
    }

    pre {
      color: #ccc;
    }

    #editor_status{
            color: gray;
            font-size: 1.5em;
            text-align: right;
            padding: 0 20px 0 0;
            //FRAGILE: to match the bootstrap styling on Legend
            line-height: 36px;
    }
    #editor_status.working{
            padding-right: 25px;
            background: transparent url("loader.gif") no-repeat right;
    }
		#editor_content {
      //FRAGILE = .span8 (620px) - padding (4px) - border (1px)
	    width: 610px;
	  }
	  .CodeMirror-scroll {
      height: 400px;
	  }
    // Other CodeMirror styles are in codemirror.css
		
		#console {
		  div.output {	
                    height: 200px;
                    padding: 0;
                    background-color: #ccc;
                    overflow: auto;

                    .success {
                            color: green;
                    }
                    .error {
                            color: red;
                    }

                    p {
                      margin: 0;
                      display: block;
                      float: left;
                    }
                    
                    p.timestamp {
                      padding-right: 10px;
                    }

                    p.error, p.neutral, p.success {
                      width: 70%;
                    }
                    
                    div {
                      margin: 0;
                      padding: 3px;
                      overflow: auto;
                    }

                    div:nth-child(odd)    { background-color:#ddd; }
                    div:nth-child(even)    { background-color:#eee; }
                  }
			
		}
	}	

  #liveview {
    div.group {
      border: 1px solid #000;
      padding: 3px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;

      div.on {
        font-size: 13px;
        font-weight: bold;
        border: solid black;
        border-width: 0 0 1px 0;
        /* force the text to wrap */
        word-break: break-all;
        word-wrap: break-word;
        /* fallback for browsers which don't support word-break and word-wrap: */
        overflow: hidden;

        &.working {
          background: transparent url("loader.gif") no-repeat right;
        }
      }

      div.pending {
        background-color: #EEF27E;
      }

      div.fail, div.pass, div.pending, div.error {
        padding: 3px 5px 3px 15px;
        margin: 5px 0;

        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;

        &.current {
          border-color: #666;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
        }

        span.assertion {
          color: #555;
        }
        span.value {
          color: #111;
        }

      }

      div.error {
        padding-left: 5px;

        h3 {
          font-size: 16px;
        }
      }
    }
  }
}

body.test_files.index {
  .welcome {
    a.btn {
      margin: 10px 0;
      padding: 10px;
      font-size: 18px;
    }

    h1 {
      margin-bottom: 20px;
    }

    .dismiss {
      float:right;
      margin-top: -100px;
      margin-right: -20px;
      font-size: 14px;
    }
  }

  #test_list {
    .title {
      a.btn {
        float: right;
        margin-top: -40px;
      }
    } 

    ul {
      padding-top: 10px;
      
      li.test_file {
        a {
          display: block;
          color: inherit;
          text-align: left;
          padding: 15px 10px;

          &:hover {
            text-decoration: none;
            border-color: rgba(0,0,0,0.3);
          }

          span.name {
            font-size: 16px;
            font-weight: bold;
            padding-right: 1em
          }

          span.last_updated {
            font-style: italic;
          }
        }
      }
    }
  }

  #sidebar {
    #recent_results {
      .fail, .pass {
        padding: 15px;

        div {
          overflow: auto;
        }
      }

      img {
        float: left;
        padding: 0 20px 0 0;
      }

      p {
        font-size: 20px;
        line-height: 24px;
      }

      a.btn {
        margin-top: 10px;
      }
    }
  }

  #sexy_stats {
    img {
      float: left;
      padding: 3px 20px 0 0;
    }

    .stat {
      clear: both;
      padding: 15px;

      p {
        font-size: 22px;
        vertical-align: middle;
        line-height: 24px;
        color: #999;
      }
    }
  }
}
