
.fail, .pass {
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 10px;
  margin-bottom: 20px;
}

.fail {
  background: #EED3D7;
}

.pass {
  background: #DFF0D8;
}

body.test_runs {
  h2 {
    padding-bottom: 10px;
  }

  .group {
    position: relative;
    padding-bottom: 20px;

    h3 a {
      color: inherit;
      float: left;
    }

    .method {
      float: right;
      color: #555;

      .response {
        font-size: 11px;
        font-weight: normal;
        line-height: 13px;

      }
    }

    .so {
      font-size: 14px;
      font-weight: bold;
      clear: both;
    }

    div.group_error {
      clear: both;
    }


    p.meta {
      font-style: italic;
      font-size: 12px;
      position: absolute;
      bottom: 0;

      a {
        color: #049;
        margin-left: 12px;
      }
    }

    pre {
      word-break: normal;
    }

    ul.recentfails {
      clear: both;
      margin-top: 10px;
      margin-bottom: 10px;

      li {
        list-style-type: none;

        i {
          margin-left: -19px;
        }
      }
    }
  }


  div.recentfails, div.bigmsg {
    padding-bottom: 30px;
  }

  div.bigmsg {
    font-size: 2em;
  }

  div.all_pass {
    color:  #468847;
  }

  div.testruns {
    p {
      margin: 0;
    }

    span.date {
      font-weight: bold;
      font-size: 16px;
    }

    span.file {
      font-size: 15px; 
      font-style: italic;
      padding-left: 10px;
    }

    p.summary {
      padding: 5px 0 0 0;
    }

    a {
      display: block;
      color: inherit;
      padding: 10px;
      margin: 0 0 10px 0;

      &:hover {
        text-decoration: none;
        border-color: rgba(0, 0, 0, 0.2);
      }
    }

    .pagination a {
      padding: 0 14px;
    }

  }

  .sidebar {
    li.fail {
      background-color: #FCF8E3;
    }
  }

  ul#test_runs_list{
    padding-top: 5px;
    header {
      .outcome {
        float: right;
      }
    }
    li {
      margin-bottom: 0.2em;
    }
    li.test_result {
      padding-left: 1.5em;
      abbr.predef_name {
        text-transform: none;
        font-style: italic;
      }
      .test_value {
        font-style: italic;
      }
    }
    li.test_result.passed_false {
      color: #B94A48;
    }
    .close_link{
      text-align: right;
    }
  }
}
