table {
  p {
      margin: 0;
  }

  small {
    font-size: 90%;
  }

  thead td {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
  }

  td {
    font-size: 15px;
    text-align: center;
  }

  td.feature {
    text-align: left;
    padding: 10px 10px 10px 0;

    p {
      font-size: 18px;
      font-weight: bold;
    }
  }

  td.comingsoon {
    font-style: italic;
  }
}

body.website.alpha {
  .well.blue {
    background-color: #D9EDF7;
  }

  #mailing_list form{
    background-color: whiteSmoke !important;
    border-color: #eee !important;
  }

  .signup {
    height: 170px;
  }

  .row.no-invite {
    margin-top: 10px; 
    
    .notrdy {
      height: 80px !important;
    }
  }

  #new_user {
    margin: 0;

    legend {
      margin-bottom: 15px
    }

    input {
      margin-bottom: 20px;


      &.btn {
        margin-left: 10px;
      }
    }

    .devise_links {
      margin: 0;
    }
  }
}

body.website.index, body.website.alpha {
  padding: 0 30px 80px;

  header.title {
    margin: 30px 0 60px;
    text-align: center;
  
     h1 {
      font-size: 10em;
      line-height: 1em;
      margin-bottom: 18px;
    }
    p {
      font-size: 2em;
      line-height: 1em
    }
  }
  
  h2.well {
    font-size: 3em;
    line-height: 1em;
  }
  #mailing_list form{
    height: 78px;
    /*FRAGILE!*/
    
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    
    legend {
      border: 0;
      width: 230px;
      padding-right: 15px;
      margin-top: -6px;
      float: left;
      font-size: 20px;
      line-height: 28px;
    }
    ul{
      width: 220px;
      float: left;
      margin-bottom: 0 
    }
    .submit {
      float: left;
      padding-left: 25px
    }
  }
  ul.devise_links {
    margin-top: 20px;
  }
  
  #selling_points{ 
    margin-top: 10px;

    p {
      font-size: 15px;
      line-height: 20px;
    }
    section img {
      margin-bottom: 18px;
    }
  }
    
  #contact {
    margin-top: 30px;
    font-size: 1.5em;
    text-align: center;
  }
}
