table {
  p {
      margin: 0;
  }

  small {
    font-size: 90%;
  }

  thead td {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
  }

  td {
    font-size: 15px;
    text-align: center;
  }

  td.feature {
    text-align: left;
    padding: 10px 10px 10px 0;

    p {
      font-size: 18px;
      font-weight: bold;
    }
  }

  td.comingsoon {
    font-style: italic;
  }
}


body.registrations.new, body.registrations.create, .landing_page {
  padding: 0 0 80px 0;

  header.title {
    margin: 30px 0 60px;
    text-align: center;
  
     h1 {
      font-size: 10em;
      line-height: 1em;
      margin-bottom: 18px;
    }
    p {
      font-size: 2em;
      line-height: 1em
    }
  }
  .signup {
    height: 180px;  
    #buttons {
      float:left;
      width:40%;
    }
    #terms {
      float:right;
      width:60%;
    }
    .field_with_errors {
      
      display: inline;
      input {
        color: #B94A48;
        border-color: #B94A48;
      }
    }
  }
  
  #why {
    h2 {
      font-size: 2em;
      margin-top: 20px;
      margin-bottom:10px;
    }
    p {
      font-size: 16px;
    }
  }
  
  .well.blue {
    background-color: #D9EDF7;
  }
  #description {
    h3 {
      margin-bottom:8px;
    }
    p {
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 12px;
    }
  }

  #new_user {
    margin: 0;
    legend {
      margin-bottom: 15px;
      font-size: 18px;
      font-weight:bold;
      float:left;
    }
    input, .btn {
      margin-bottom: 20px;
      margin-right: 10px;
    }
  }
  
  #selling_points{ 
    margin-top: 10px;
    h3 {
      margin-bottom: 10px;
    }
    p {
      font-size: 15px;
      line-height: 20px;
    }
    section img {
      margin-bottom: 18px;
    }
  }
    
  #contact {
    margin-top: 30px;
    font-size: 1.5em;
    text-align: center;
  }
  
  #beta_line {
    display: inline;
    bottom: 8px;
    position: relative;
    font-size: 18px;
  }
}
