.row
  %table.table-striped.span12
    %thead
      %tr
        %td.span5
        %td.span2=@names[:silver]
        %td.span2=@names[:gold]
        %td.span1
        %td.span2

    %tbody
      %tr.costs
        %td.feature
          %h3 Cost
          %small Monthly cost
        %td.silver
          =choose_plan_link(current_user, :silver)
        %td.gold
          =choose_plan_link(current_user, :gold)
        %td
    
      - @limits.each do |limit|
        %tr
          %td.feature
            %h3=limit[:name]
            %small=limit[:description]
          %td.silver=limit[:silver]
          %td.gold=limit[:gold]
          %td

%section.features
  %h2 Whatever your plan, you'll always have access to these great features:
  - @features.each_slice(3) do |three_features|
    .row
      - three_features.each do |feature|
        .span4
          %h3
            =feature[:name]
            %i{:class => feature[:icon]}
          - if feature[:comingsoon]
            %p
              %em.comingsoon Coming soon!
          %p=raw feature[:description]