%table.table-striped.span12
  %thead
    %tr
      %td.span5
      %td.span2=@names[:silver]
      %td.span2=@names[:gold]
      %td.span1
      %td.span2

  %tbody
    %tr.costs
      %td.feature
        %p Cost
        %small Monthly cost
      %td.silver
        =choose_plan_link(current_user, :silver)
      %td.gold
        =choose_plan_link(current_user, :gold)
      %td
    
    - @limits.each do |limit|
      %tr
        %td.feature
          %p=limit[:name]
          %small=limit[:description]
        %td.silver=limit[:silver]
        %td.gold=limit[:gold]
        %td

    - @features.each do |feature|
      %tr
        %td.feature
          %p=feature[:name]
          %small=feature[:description]
        %td.silver
          %i{:class => feature[:silver] ? 'icon-ok' : 'icon-remove'}
        %td.gold
          %i{:class => feature[:gold] ? 'icon-ok' : 'icon-remove'}
        %td.comingsoon
          - if feature[:comingsoon]
            %p Coming soon!
