= content_for :title, "Citrulu: monitor your clients' websites with hosted front-end tests"
.container.landing_page
  %header.title
    %h1.masthead Citrulu
    %p 
      Monitor your clients' Live websites with hosted, continuous front-end tests
  - flash.each do |name, message|
    = flash_message(name, message)
  = devise_error_messages!
  
  .row
    .span4
      .well.blue.signup#description
        %h3 What is Citrulu?
        %p Citrulu is a website testing and monitoring tool which runs automated front-end tests on your Live websites to check that they're working, and sends you email alerts if they fail.
        =twitter_button
    .span8
      %div#subForm.form-horizontal.well.signup
        = render partial: 'registrations/new'
  #why.row
    .span12
      %h2 What can Citrulu do for you?
      %p Do you build or manage websites? Citrulu can help you to keep your clients happy by letting you respond to any issues quickly:
  #selling_points.row
    %section.span4
      =image_tag "brochure/notifications.png", :alt => "An inbox, showing some notifications from Citrulu", :class => "thumbnail"
      %header
        %h3 Respond quickly
      %p When something goes wrong on a site you're responsible for, you want to know immediately. Citrulu continuously runs tests on your site and will email you the moment that something fails so that you can let your clients know you're already fixing it before they've even noticed.
      
    %section#make_sure.span4
      =image_tag "brochure/test_results_list.png", :alt => "A list of test results, showing successes and failures", :class => "thumbnail"
      %header
        %h3 Keep testing: even after launch
      %p 
        Testing websites 
        %em before 
        they go live is essential best practice, but when building sites for clients there's rarely enough time to do as much testing as we'd like.
      %p Citrulu lets you runs regular checks on websites after they go live, and it's so much more powerful than uptime monitoring: you can write tests that prove specific features are working, or check for scenarios which might only arise intermittently in a Live environment.
      
    %section#for_humans.span4
      =image_tag "http://placehold.it/290x200", :alt => "TODO!!!!!!!!!!!", :class => "thumbnail"
      %header
        %h3 Zero Configuration
      %p Citrulu lets you write tests for your site: simple instructions to check for strings and HTML in your pages.* 
      %p You can get a set of tests up and running in minutes: it's all hosted by us so you don't need to install or configure anything on your servers.
      %small 
        %em*plus powerful features if you need them, like inspecting response headers and POSTing data.
        
  #contact.row
    If you'd like to know more, try it out for free, or
    %a{:href => "mailto:contact@dxw.com?subject=About%20that%20Citrulu%20thing..."} get in touch
    (We're friendly).
