.container.row
  %header.title
    %h1.masthead.span12 Citrulu's Features
  .row
    .span8
      %p
        When you
        =link_to "sign up", new_user_registration_path
        to Citrulu you can try it out for free for #{FREE_TRIAL_DAYS} days.
      %p If there's anything here you want to talk about or change, or there's something you think we should add to the list, please let us know using the feedback tab.
  =render :partial => "features_table"