.row
  %h2.span12 Features
.row
  .span8
    %p Here's our current thinking about the features Citrulu will have, and how they'll break down over the different paid plans.
    %p This page is part features-page, part development roadmap, part documentation-of-ideas. So please don't treat it as gospel.
    %p If there's anything here you want to talk about or change, or there's something you think we should add to the list, please let us know using the feedback tab.
.row
  =render :partial => "features_table"