.row
  %h2.span12 Features
.row
  .span8
    %p Here's our current thinking about the features Citrulu will have, and how they'll break down over the different paid plans.
    %p This page is part features-page, part development roadmap, part documentation-of-ideas. So please don't treat it as gospel.
    %p If there's anything here you want to talk about or change, or there's something you think we should add to the list, please let us know using the feedback tab.
.row
  %table.table-striped.span12
    %thead
      %tr
        %td.span5
        %td.span2 Cornichon
        %td.span2 Gherkin
        %td.span2 Cucumber
        %td.span1

    %tbody
      - @limits.each do |limit|
        %tr
          %td.feature
            %p=limit[:name]
            %small=limit[:description]
          %td.bronze=limit[:bronze]
          %td.silver=limit[:silver]
          %td.gold=limit[:gold]
          %td

      - @features.each do |feature|
        %tr
          %td.feature
            %p=feature[:name]
            %small=feature[:description]
          %td.bronze
            %i{:class => feature[:bronze] ? 'icon-ok' : 'icon-remove'}
          %td.silver
            %i{:class => feature[:silver] ? 'icon-ok' : 'icon-remove'}
          %td.gold
            %i{:class => feature[:gold] ? 'icon-ok' : 'icon-remove'}
          %td.comingsoon
            - if feature[:comingsoon]
              %p Coming soon!
