.container
  %header
    %h1 Simple Front-End Testing
    %p.lead This is some blurb about the site.
    
  =render "devise/registrations/new"

  %section#brochure
  %h2 We can make your life better
  .row
    %section.span-one-third
      %h3 First benefit
      %p Pinterest umami fap, sriracha irony truffaut carles narwhal. Wolf salvia put a bird on it pickled butcher fixie. Leggings post-ironic whatever, put a bird on it trust fund echo park occupy swag cred vegan vice ethical selvage typewriter. Shoreditch bushwick tofu, mumblecore cliche echo park chambray raw denim scenester kogi single-origin coffee fingerstache bespoke. Vice small batch aesthetic authentic, wes anderson chambray cred you probably haven't heard of them. Cliche readymade dreamcatcher, chillwave 3 wolf moon fixie sustainable truffaut. Synth four loko umami, letterpress viral biodiesel aesthetic occupy ethical.
    %section.span-one-third  
      %h3 another benefit
      %p Banksy wayfarers helvetica +1 salvia synth, marfa authentic. Butcher gastropub bushwick, DIY craft beer tumblr skateboard odd future letterpress beard photo booth gentrify typewriter retro iphone. Ennui mustache american apparel +1 artisan, small batch post-ironic jean shorts 8-bit pork belly raw denim craft beer. Art party banksy tofu pork belly brunch. Post-ironic tumblr leggings, salvia flexitarian Austin sriracha. Irony high life hoodie +1 brooklyn, williamsburg gastropub freegan PBR four loko blog salvia odd future tattooed before they sold out. Letterpress forage kogi skateboard, semiotics tattooed mumblecore quinoa.
    %section.span-one-third  
      %h3 yet more benefits!
      %p Master cleanse keffiyeh etsy, banksy chambray viral craft beer echo park carles. Mcsweeney's mlkshk bicycle rights scenester, wayfarers PBR williamsburg fanny pack tofu VHS cosby sweater. Whatever fanny pack 8-bit portland marfa keytar irony, dreamcatcher 3 wolf moon. Austin odd future godard cred. Typewriter irony american apparel, butcher salvia artisan post-ironic synth forage vice wes anderson 3 wolf moon. Lomo tumblr master cleanse, seitan kogi fap cliche before they sold out trust fund. Freegan mcsweeney's gluten-free keytar.