.container
  %header
    %h1 Citrulu
    %p.lead Super-Awesome Front End Web Testing Framework
    
  =render "registrations/new"

  %section#brochure
  %h2 Hosted front-end tests for your sites
  .row
    %section.span4
      %h3 Front end tests for humans
      %p Write tests for your site using natural language. No code or complicated forms - just simple instructions to check strings, headers and HTML.
    %section.span4
      %h3 Make sure stuff is working
      %p SafeWTF doesn't just do uptime monitoring: by checking for specific strings, headers and HTML code you can write tests that check if specific functionality is working
    %section.span4
      %h3 Presets that make things easier
      %p Want to check for nasty errors appearing in application code? We make that easy by predefining lists of commonly used strings that you can use in your tests
