.row
  %h2.span12 Privacy policy
.row
  .span8
    %p This page explains how Citrulu.com (operated by the Dextrous Web Ltd, a company registered in England and Wales under company number 6617101 whose registered office is at Flat 11, Tufnell Mansions, 73 Anson Road, London N7 0AT) will process any data that you submit on this website.

    %p If you agree to this policy, you agree to our processing any of your personal data in accordance with its terms and you grant us a non-exclusive, perpetual, worldwide licence to do anything (including the right to sublicense) that would be prevented by any intellectual property (such as copyright) you may have in your data. 

    %h3 How we process your data

    %p We will process your data in the following ways:

    %ul
      %li <strong>We will use your data to operate the service that we provide.</strong> Your test files will be run in accordance with your instructions. Any data you include in your test files may be made visible to third parties when your tests run. Those third parties may include the target of a test and any internet service provider which routes traffic from Citrulu's network to the targets of your tests. 

      %li <strong>We will use your data to improve the quality of the services we provide.</strong> We may use your data to improve the usability and usefulfulness of any service that we provide. This may include passing some of your data to organisations with whom we have a contractual relationship (for example, Google Analytics). We do not normally share sensitive personal data with other organisations. When we do, we ensure that the organisation will abide by the provisions of the Data Protection Act. We will never sell your data.

