.row
  %h2.span12 Terms of Service
.row
  .span8
    %p Citrulu is a subscription service that allows you to write and run human-readable tests for your websites which confirm that specific features are working.

    %p By registering a Citrulu account, you agree to comply with and be bound by the following terms of use, which together with our privacy policy govern Citrulu's relationship with you in relation to this website. If you disagree with any part of these terms, please do not register a Citrulu account.

    %p The term 'Citrulu' or 'us' or 'we' refers to the The Dextrous Web Ltd, who is the owner of the website. The Dextrous Web Ltd's registered office is 11 Tufnell Mansions, 73 Anson Road, London, N7 0AT. Our company registration number is 06617101. The term 'you' refers to the user of this website.

    %p If you need to contact us, you can do so by emailing contact@citrulu.com, or writing to Citrulu (c/o dxw), 11 Marshalsea Road, London, SE1 1EN.

    %p 
      Other than changes to pricing, we reserve the right to update these terms at any time without giving notice. Any features which we add to Citrulu shall be provided subject to these terms. Continuing to use Citrulu after we make changes to Citrulu or to this agreement indicates that you have given your consent to the changes. The most current terms of service are always available at 
      %a{:href => 'http://citrulu.com/terms'} http://citrulu.com/terms

    %p You acknowledge that you are the owner of any site(s) that you access using Citrulu, or that you have the permission of the owner(s). Using Citrulu to access sites without the permission of the site's owner violates our terms of service and in some situations may also be criminal offence. You understand and acknowledge that your are solely responsible for the actions of any code that you run using Citrulu.

    %p If you violate these terms of service, we may cancel or terminate your Citrulu account without notice.

    %h3 Account terms
    %ol
      %li You must be 13 years or older to use Citrulu.
      %li If we ask you for information, for example when registering, you must provide information that is complete and accurate, to the best of your knowledge.
      %li You are responsible for maintaining the security of your account information.
      %li You are responsible for all activity that occurs within your account.
      %li You must not use Citrulu for any illegal or unauthorised purpose, or for any purpose that would violate the laws of your jurisdiction or those of England and Wales.

    %h3 API Terms
    %p The Citrulu API is not yet available. We do not commit to providing API access by any particular time.

    %h3 Refunds and payment
    %ol
      %li If you wish to continue using the service after your free trial, you must provide us with valid credit card information.
      %li Citrulu bills customers monthly in advance, and is non-refundable. We cannot refund for partial months, or for downgrades.
      %li If it was not possible to bill you in any particular month, we will provide a grace period during which you can arrange payment. If payment is not provided within that period, we may cancel or terminate your account.
      %li If you change your account plan, the following month's charge will be adjusted to account for the change.
      %li Downgrading your plan may result in the loss of features or data. Citrulu is not liable if a downgrade causes you to lose data.

    %h3 Cancellation and termination
    %ol 
      %li If you wish to cancel your Citrulu account, you must do so by logging on to Citrulu and pressing the "Cancel account" button in your account options. We cannot accept cancellation instructions by email or telephone.
      %li Citrulu does not have any minimum term. You may cancel or terminate your account at any time.
      %li After you cancel your account, we may bill you once more for any outstanding charges on your account. Following that payment, we will not bill you again for the service.
      %li If your account is cancelled, your Citrulu tests will no longer be run, but your account will remain accessible.
      %li We do not guarantee that past test results will be stored for cancelled accounts. Following cancellation, your tests and past test results may be deleted at any time.
      %li If your account is terminated, your data will be immediately deleted (to the best of our ability), and will no longer be accessible. 
      %li We retain the right to terminate or cancel your account at any time, for any reason. 

    %h3 Modifications
    %ol
      %li We may add or remove features from Citrulu at any time. The removal of features will not result in the removal or reduction of Citrulu's fees.
      %li Citrulu's pricing is subject to change upon 30 days notice. 

    %h3 General conditions
    %ol
      %li You use Citrulu at your own risk.
      %li Citrulu uses cookies, and will not function correctly unless you permit cookies to be stored.
      %li Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the service offered by Citrulu. We expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
      %li This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with a published copyright notice or with written permission.
      %li Your use of this website and any dispute arising out of such use of the website is subject to the laws of England and Wales.
      %li Public networks such as the Internet occasionally experience disruptions. We cannot guarantee that Citrulu will be available 100% of the time, or that the test results Citrulu provides will be accurate 100% of the time. We do not accept liability for any such lack of availability or accuracy.
      %li Citrulu will take appropriate precautions to ensure that your data remains secure. You acknowledge that by using Citrulu over an unencrypted (http://) connection, you expose yourself to security risks that we cannot reasonably mitigate.
      %li You acknowledge that it may not be possible for us to delete any and all references to you or your data upon termination of your account. Data may persist on our network (for example, in caches, or backups) and such data cannot reasonably be removed.
      %li We may delete test results that are more than one calendar month old at any time.
