= content_for :title, "Citrulu Terms of Service"
.container
  %header.title
    .row
      %h2.span12 Terms of Service
  .row
    .span8
      %p Citrulu is a subscription service that allows you to write and run human-readable tests for your websites which confirm that specific features are working.

      %p By registering a Citrulu account, you agree to be bound by the following terms of use, which together with our privacy policy govern Citrulu's relationship with you in relation to this website. If you disagree with any part of these terms, please do not register a Citrulu account.

      %p The term 'Citrulu' or 'us' or 'we' refers to the The Dextrous Web Ltd, who is the owner of the website. The Dextrous Web Ltd's registered office is 11 Tufnell Mansions, 73 Anson Road, London, N7 0AT. Our company registration number is 06617101.

      %p If you need to contact us, you can do so by emailing contact@citrulu.com, calling us on +44 (0) 345 257 7520, or writing to Citrulu (c/o dxw), 11 Marshalsea Road, London, SE1 1EN.

      %p 
        Other than changes to pricing, we reserve the right to update these terms at any time without giving notice. If we make changes to these terms, we will notify you. Continuing to use Citrulu after we make changes to Citrulu or to this agreement indicates that you have given your consent to the changes. The most current terms of service are always available at <a href="http://citrulu.com/terms">http://citrulu.com/terms</a>. Any features which we add to Citrulu shall be provided subject to these terms.

      %p You acknowledge that you are the owner of any site(s) that you access using Citrulu, or that you have the permission of the owner(s). Using Citrulu to access sites without the permission of the site's owner violates our terms of service and in some situations may also be criminal offence. You understand and acknowledge that your are solely responsible for the actions of any code that you run using Citrulu.
    
      %p While we are proud of the services we provide to the world for free and try to make them reliable and useful, we make no promises about them. All web services are certain to fail some of the time. We cannot guarantee that Citrulu will be available 100% of the time, or that the test results Citrulu provides will be accurate 100% of the time. We adapt and change our services from time to time, so you may find that something that worked for you may cease to work. We may also stop supply any service, temporarily or permanently or block access to our services to anyone for any reason. 

      %p If you need some guarantee of a particular service level, then please do not hesitate to contact us to discuss whether we could offer you a service level guarantee on different commercial terms.

      %p If you violate these terms of service, we may cancel or terminate your Citrulu account without notice.

      %h3 Account terms
      %ol
        %li You must be 13 years or older to use Citrulu.
        %li If you provide us with information, for example when registering, you must provide information that is complete and accurate, to the best of your knowledge.
        %li You are responsible for maintaining the security of your account information.
        %li You are responsible for all activity that takes place using your account.
        %li 
          You must not use Citrulu so as to violate any law of: 
          %ul
            %li England and Wales
            %li the law applicable to the website you are accessing through Citrulu
            %li any other law applicable to your own actions, which may be the law of the country in which you are based on carry out your business.
        %li 
          You must never use Citrulu:
          %ul
            %li so as to cause nuisance to any other person
            %li without the permission of any website accessed through Citrulu.

      %h3 API Terms
      %p The Citrulu API is not yet available. We do not commit to providing API access by any particular time.

      %h3 Refunds and payment
      %ol
        %li All payments are taken in Pounds Sterling (GBP).
        %li If you wish to continue using the service after your free trial, you must provide us with valid credit card information.
        %li If you give us credit card information before the end of your trial, your service will continue to run with no interruption. If you give us credit card details after the end of your trial, service will resume immediately after we have authorised a payment.
        %li Citrulu charges customers monthly in advance. Payments made to Citrulu are non-refundable. We will not refund for partial months, or for downgrades.
        %li If it was not possible to charge your credit card in any particular month, we will not ordinarily terminate your account immediately, instead we may inform you by email of a grace period during which you can arrange payment. If payment is not provided within that period, we may cancel or terminate your account.
        %li If you change your account plan, the following month's charge will be adjusted to account for the change.
        %li Downgrading your plan may result in the loss of features or data. Citrulu is not liable if a downgrade causes you to lose data.

      %h3 Cancellation and termination
      %ol 
        %li If you wish to cancel your Citrulu account, you must do so by logging on to Citrulu and pressing the "Cancel account" button in your account options. We cannot accept cancellation instructions by email or telephone.
        %li Citrulu does not have any minimum term. You may cancel or terminate your account at any time.
        %li After you cancel your account, we may bill you once more for any outstanding charges on your account. Following that payment, we will not charge you again for the service.
        %li If your account is cancelled, your Citrulu tests will no longer be run, but your account will remain accessible for you to log in to see your old results and access your test files for a period of 3 months.
        %li We do not guarantee that past test results will be stored for cancelled accounts. Following cancellation, your tests and past test results may be deleted at any time.
        %li If your account is terminated, your your tests and past test results will be immediately deleted (to the best of our ability), and will no longer be accessible. 
        %li 
          We retain the right to terminate this agreement:
          %ul
            %li you break any of its terms
            %li in our absolute discretion, and without giving a reason, in which case we will refund a fair proportion of any sums you have paid in advance
        %li 
          We may suspend the operation of your account either partially or completely if:
          %ul
            %li we believe it is necessary to do so in order to avoid a breach of any applicable law, or the infringing of any other person's legal rights 
            %li if we believe it is necessary to do so in order to investigate whether your account is causing serious problems to our, or any other person's web services
            %li if we believe you may be breaking any term of this agreement
      %h3 Modifications
      %ol
        %li We may add or remove features from Citrulu at any time. The removal of features will not result in the removal or reduction of Citrulu's fees, however, you are free to cancel at any time.
        %li Citrulu's pricing is subject to change upon 30 days notice. 

      %h3 General conditions
      %ol
        %li You use Citrulu at your own risk.
        %li Citrulu makes use of cookies. (Some of) these are essential to its function. By using Citrulu you are consenting to <a href="/cookies">our use of cookies</a>.
        %li 
          We limit our liability in several different ways — all of which we believe to be fair — in case any one of them is found to be unenforceable by a court. Each of the following limitations of liability is therefore separate and our liability to you is limited by all of them.
          %ul
            %li All exclusions of liability are only in so far as we are allowed to do so by whatever law applies to the situation. For example, the law of England and Wales prevents us from excluding our liability for any personal injury or death caused by our negligence. We do not exclude such liability.
            %li We will not be liable for any damage that was not reasonably foreseeable at the time we made this agreement.

          Any liability to you is limited by the amount you have paid us for a service, where:
          %ul 
            %li our liability is zero for a free service
            %li where you make periodic payments, our liability is limited to the value of the last payment you paid us.

          We are not liable for any loss which is indirect or consequential. That includes any loss of business or profit.
          We exclude, in so far as we are allowed, any warranties that would be implied by law."
        %li This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with a published copyright notice or with written permission.
        %li This agreement is governed by the laws of England and Wales and you agree that the courts of England and Wales have jurisdiction to hear any dispute arising from it.
        %li Citrulu will take appropriate precautions to ensure that your data remains secure. You acknowledge that by using Citrulu over an unencrypted (http://) connection, you expose yourself to security risks that we cannot reasonably mitigate.
        %li You acknowledge that it may not be possible for us to delete any and all references to you or your data upon termination of your account. Data may persist on our network (for example, in caches, or backups) and such data cannot reasonably be removed.
        %li We do not guarantee to store test results for more than one calendar month. Any test results older than this may be deleted by us at any time.
