%h1 Test File Editor

.row
  #test_suite.span8
    
    = form_for(@test_file, :id => "editor_form") do |f|
      = f.text_area :test_file_text, :id => "editor_content"
      #editor_wrapper 
        - #infuriating div required (?) to deal with the fact that the #editor element has no size 
        #editor
          = @test_file.test_file_text
          
      = f.submit "Save", :class => "btn btn-primary"
 
    %section#console
      %h3 Console
    
      #console_body.well
        %p This is some stuff in your console
  #help.span4.well
    %h2 Help
    %p This is some help text
    
:javascript
  $(document).ready(function(){
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");

    $("#editor_content").hide();
    $("#editor_form").submit(function(){
      $("#editor_content").val(editor.getSession().getValue());
    });
  });



/ :javascript
/   window.onload = function() {
/       var editor = ace.edit("editor");
/       editor.setTheme("ace/theme/twilight");
/       
/       var JavaScriptMode = require("ace/mode/javascript").Mode;
/       editor.getSession().setMode(new JavaScriptMode());
/   };

- #TODO: there may be a better place to put this JS...
-# Here's the code to include the (currently aborted) attempt to write our own syntax highlighting
-# var TestGrammarMode = require("ace/mode/testgrammar").Mode;
-# editor.getSession().setMode(new TestGrammarMode());
