.banner.alert-error.status_banner
  .row 
    .container
      =link_to "Sign up to one of our plans", {controller: :payments, action: :choose_plan}, :class => "btn btn-success btn-large"
      %span.text
        %strong Your free trial has ended and you don't currently have an active subscription. 
        You can still access all the features of the site, but your tests won't be run and you won't receive any alerts.
  
