- if current_user.number_of_domains > current_user.plan.number_of_sites && @controller_name != "payments"
  #limits_banner.banner
    .row
      .container
        %strong Warning
        Your current plan allows 
        %strong=current_user.plan.number_of_sites
        domains to be tested. Your currently running test files check
        %strong=current_user.number_of_domains
        domains. Not all limits are not enforced during the beta, but you may wish to 
        =link_to "upgrade", { controller: :payments, action: :choose_plan }
        to a plan which reflects your usage.
