- unless session[:events].nil?
  - session[:events].each do |event|

    _gaq.push(['_trackEvent', '#{event[:category]}', '#{event[:action]}'
    - if !event[:label].blank?
      , '#{event[:label]}'
    - if !event[:value].blank? && event[:value].is_a?(Integer)
      , #{event[:value]}
    ]);
    
- session[:events] = Array.new
