- content_for :content do
  .container
    %header
      %h1 Citrulu
    - flash.each do |name, message|
      = flash_message(name, message)
    = devise_error_messages!  
    .form-horizontal.well
      = yield
= render :template => 'layouts/application'
