- content_for :content do
  .container{ :style => "width: 1170px;"}
    %header
      %h1 Citrulu
      %p.lead Continuous front-end testing for humans

    - flash.each do |name, message|
      = flash_message(name, message)
    = yield
= render :template => 'layouts/application'
