!!!
%html
  %head
    %title=@title
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      /* Mobile-specific Styles */
      @media only screen and (max-device-width: 480px) { 
      table[class=w0], td[class=w0] { width: 0 !important; }
      table[class=w10], td[class=w10], img[class=w10] { width:10px !important; }
      table[class=w15], td[class=w15], img[class=w15] { width:5px !important; }
      table[class=w30], td[class=w30], img[class=w30] { width:10px !important; }
      table[class=w60], td[class=w60], img[class=w60] { width:10px !important; }
      table[class=w125], td[class=w125], img[class=w125] { width:80px !important; }
      table[class=w130], td[class=w130], img[class=w130] { width:55px !important; }
      table[class=w140], td[class=w140], img[class=w140] { width:90px !important; }
      table[class=w160], td[class=w160], img[class=w160] { width:180px !important; }
      table[class=w170], td[class=w170], img[class=w170] { width:100px !important; }
      table[class=w180], td[class=w180], img[class=w180] { width:80px !important; }
      table[class=w195], td[class=w195], img[class=w195] { width:80px !important; }
      table[class=w220], td[class=w220], img[class=w220] { width:80px !important; }
      table[class=w240], td[class=w240], img[class=w240] { width:180px !important; }
      table[class=w255], td[class=w255], img[class=w255] { width:185px !important; }
      table[class=w275], td[class=w275], img[class=w275] { width:135px !important; }
      table[class=w280], td[class=w280], img[class=w280] { width:135px !important; }
      table[class=w300], td[class=w300], img[class=w300] { width:140px !important; }
      table[class=w325], td[class=w325], img[class=w325] { width:95px !important; }
      table[class=w360], td[class=w360], img[class=w360] { width:140px !important; }
      table[class=w410], td[class=w410], img[class=w410] { width:180px !important; }
      table[class=w470], td[class=w470], img[class=w470] { width:200px !important; }
      table[class=w580], td[class=w580], img[class=w580] { width:280px !important; }
      table[class=w640], td[class=w640], img[class=w640] { width:300px !important; }
      table[class=hide], td[class=hide], img[class=hide], p[class=hide], span[class=hide], .hide { display:none !important; }
      table[class=h0], td[class=h0] { height: 0 !important; }
      p[class=footer-content-left] { text-align: center !important; }
      #headline p { font-size: 30px !important; }
       } 
      /* Client-specific Styles */
      #outlook a { padding: 0; }	/* Force Outlook to provide a "view in browser" button. */
      body { width: 100% !important; }
      .ReadMsgBody { width: 100%; }
      .ExternalClass { width: 100%; display:block !important; } /* Force Hotmail to display emails at full width */
      /* Reset Styles */
      /* Add 100px so mobile switch bar doesn't cover street address. */
      html, body { background-color: #c7c7c7; margin: 0; padding: 0; }
      img { height: auto; line-height: 100%; outline: none; text-decoration: none; display: block;}
      br, strong br, b br, em br, i br { line-height:100%; }
      h1, h2, h3, h4, h5, h6 { line-height: 100% !important; -webkit-font-smoothing: antialiased; }
      h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: blue !important; }
      h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {	color: red !important; }
      /* Preferably not the same color as the normal header link color.  There is limited support for psuedo classes in email clients, this was added just for good measure. */
      h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited { color: purple !important; }
      /* Preferably not the same color as the normal header link color. There is limited support for psuedo classes in email clients, this was added just for good measure. */  
      table td, table tr { border-collapse: collapse; }
      .yshortcuts, .yshortcuts a, .yshortcuts a:link,.yshortcuts a:visited, .yshortcuts a:hover, .yshortcuts a span {
      color: black; text-decoration: none !important; border-bottom: none !important; background: none !important;
      }	/* Body text color for the New Yahoo.  This example sets the font of Yahoo's Shortcuts to black. */
      /* This most probably won't work in all email clients. Don't include <code _tmplitem="2415" > blocks in email. */
      code {
        white-space: normal;
        word-break: break-all;
      }
      #background-table { background-color: #c7c7c7; }
      /* Webkit Elements */
      #top-bar { border-radius:6px 6px 0px 0px; -moz-border-radius: 6px 6px 0px 0px; -webkit-border-radius:6px 6px 0px 0px; -webkit-font-smoothing: antialiased; background-color: #333333; color: #ffffff; }
      #top-bar a { font-weight: bold; color: #ffffff; text-decoration: none;}
      #footer { border-radius:0px 0px 6px 6px; -moz-border-radius: 0px 0px 6px 6px; -webkit-border-radius:0px 0px 6px 6px; -webkit-font-smoothing: antialiased; }
      /* Fonts and Content */
      body { font-family: Helvetica Neue, Arial, Helvetica, Geneva, sans-serif; }
      .header-content, .footer-content-left, .footer-content-right { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }
      /* Prevent Webkit and Windows Mobile platforms from changing default font sizes on header and footer. */
      .header-content { font-size: 20px; font-weight: 200; color: #ffffff; }
      .header-content a { font-weight: bold; color: #ffffff; text-decoration: none; }
      #headline p { color: #333333; font-family: Helvetica Neue, Arial, Helvetica, Geneva, sans-serif; font-size: 36px; text-align: center; margin-top:0px; margin-bottom:30px; }
      #headline p a { color: #333333; text-decoration: none; }
      .article-title { font-size: 18px; line-height:24px; color: #333333; font-weight:bold; margin-top:0px; margin-bottom:18px; font-family: Helvetica Neue, Arial, Helvetica, Geneva, sans-serif; }
      .article-title a { color: #333333; text-decoration: none; }
      .article-title.with-meta {margin-bottom: 0;}
      .article-meta { font-size: 13px; line-height: 20px; color: #ccc; font-weight: bold; margin-top: 0;}
      .article-content { font-size: 13px; line-height: 18px; color: #444444; margin-top: 0px; margin-bottom: 18px; font-family: Helvetica Neue, Arial, Helvetica, Geneva, sans-serif; }
      .article-content a { color: #308BB8; font-weight:bold; text-decoration:none; }
      .article-content img { max-width: 100% }
      .article-content ol, .article-content ul { margin-top:0px; margin-bottom:18px; margin-left:19px; padding:0; }
      .article-content li { font-size: 13px; line-height: 18px; color: #444444; }
      .article-content li a { color: #308BB8; text-decoration:underline; }
      .article-content p {margin-bottom: 15px;}
      .footer-content-left { font-size: 12px; line-height: 15px; color: #ffffff; margin-top: 0px; margin-bottom: 15px; }
      .footer-content-left a { color: #ffffff; font-weight: bold; text-decoration: none; }
      .footer-content-right { font-size: 11px; line-height: 16px; color: #ffffff; margin-top: 0px; margin-bottom: 15px; }
      .footer-content-right a { color: #ffffff; font-weight: bold; text-decoration: none; }
      #footer { background-color: #333333; color: #ffffff; }
      #footer a { color: #ffffff; text-decoration: none; font-weight: bold; }
      #permission-reminder { white-space: normal; }
      #street-address { color: #999999; white-space: normal; }
    /[if gte mso 9]
      <style _tmplitem="2415" >
      \.article-content ol, .article-content ul {
      margin: 0 0 0 24px;
      padding: 0;
      list-style-position: inside;
      }
      </style>
  %body
    %table#background-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tbody
        %tr
          %td{:align => "center", :bgcolor => "#c7c7c7"}
            %table.w640{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "640"}
              %tbody
                %tr
                  %td.w640{:height => "20", :width => "640"}
                %tr
                  %td.w640{:width => "640"}
                    %table#top-bar.w640{:bgcolor => "#308bb8", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "640"}
                      %tbody
                        %tr
                          %td.w15{:width => "15"}
                          %td.w325{:align => "left", :valign => "middle", :width => "350"}
                            %table.w255{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "255"}
                              %tbody
                                %tr
                                  %td.w255{:height => "8", :width => "255"}
                            .header-content
                              Citrulu
                            %table.w325{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "350"}
                              %tbody
                                %tr
                                  %td.w325{:height => "8", :width => "350"}
                %tr
                  %td#header.w640{:align => "center", :bgcolor => @status == :fail ? '#EED3D7' : @status == :pass ? '#DFF0D8' : "#308bb8", :width => "640"}
                    %table.w640{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "640"}
                      %tbody
                        %tr
                          %td.w30{:width => "30"}
                          %td.w580{:height => "30", :width => "580"}
                          %td.w30{:width => "30"}
                        %tr
                          %td.w30{:width => "30"}
                          %td.w580{:width => "580"}
                            #headline{:align => "center"}
                              %p
                                %strong=@title
                          %td.w30{:width => "30"}
                %tr
                  %td.w640{:bgcolor => "#ffffff", :height => "30", :width => "640"}
                %tr#simple-content-row
                  %td.w640{:bgcolor => "#ffffff", :width => "640"}
                    %table.w640{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "640"}
                      %tbody
                        %tr
                          %td.w30{:width => "30"}
                          %td.w580{:width => "580"}
                            = content_for?(:content) ? yield(:content) : yield
                          %td.w30{:width => "30"}
                %tr
                  %td.w640{:bgcolor => "#ffffff", :height => "15", :width => "640"}
                %tr
                  %td.w640{:width => "640"}
                    %table#footer.w640{:bgcolor => "#333333", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "640"}
                      %tbody
                        %tr
                          %td.w30{:width => "30"}
                          %td.w580.h0{:height => "30", :width => "360"}
                          %td.w0{:width => "60"}
                          %td.w0{:width => "160"}
                          %td.w30{:width => "30"}
                        %tr
                          %td.w30{:width => "30"}
                          %td.w580{:valign => "top", :width => "360"}
                            %span.hide/
                            %p#permission-reminder.footer-content-left{:align => "left"}
                              = content_for(:footer_text)
                            %p.footer-content-left{:align => "left"}
                              = content_for(:footer_links)
                          %td.hide.w0{:width => "60"}
                          %td.hide.w0{:valign => "top", :width => "160"}
                          %td.w30{:width => "30"}
                        %tr
                          %td.w30{:width => "30"}
                          %td.w580.h0{:height => "15", :width => "360"}
                          %td.w0{:width => "60"}
                          %td.w0{:width => "160"}
                          %td.w30{:width => "30"}
                %tr
                  %td.w640{:height => "60", :width => "640"}
